// colors
$celeste:#0176DE;
$azul:#173F8A;
$azul-oscuro:#03122E;

$amarillo:#FEC60D;
$amarillo-oscuro:#E3AE00;


$predeterminado:#666666;
$gris: #808080;
$negro:#000000;
$blanco:#ffffff;
$gris-claro-a: #EAEAEA;
$gris-claro-b: #F0F0F0;
$gris-claro-c: #F6F6F6;

// transitions
$transition: all 0.3s ease 0s;

// fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;