#accordion-uc {
  margin: 3rem 0;
  box-shadow: 0 0 8px 0 hsl(0deg 0% 53% / 18%);
  .accordion-toggle {
    cursor: pointer;
  }
  .accordion-content {
    display: none;
  }
  .accordion-content.default {
    display: block;
  }
  .accordion-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-left: 4px solid $celeste;
    border-bottom: 1px solid rgba(33, 37, 41, 0.3);
    h4 {
      line-height: 1;
      margin: 0;
      padding: 0;
    }
    .more {
      i {
        margin: 0 0 0 1rem;
      }
    }
    &.active {
      i {
        background: $amarillo;
        color: $azul;
      }
    }
    &:hover {
      background: rgba(#000, 0.02);
      i {
        background: $amarillo;
        color: $azul;
      }
    }
  }
  .accordion-content {
    padding: 1rem 2rem;
    border-bottom: 1px solid rgba(33, 37, 41, 0.3);
    .content-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
