.blockquote {
    padding: 40px;
    margin-right: -90px;
    margin-bottom: 0;
    position: relative;
    z-index: 99;
    background: white;
    top: 60px;
    min-height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px $gris-claro-a;
    margin-bottom: 25px;
    @include media-breakpoint-down(md) {
        top: 0;
        margin-right: 0;
    }
    &__text {
        p {
            font-family: $font-secondary;
            font-size: 1.25rem;
            line-height: normal;
            @include media-breakpoint-down(sm) {
                font-size: 1.15rem;
            }
        }
    }
    &__name {
        font-family: $font-primary;
        font-size: .875rem;
        margin-bottom: 10px;
    }
    &__profile {
        font-family: $font-primary;
        font-size: .875rem;
        color: $gris;
        margin: 0;
    }
    .lsch--hover {
        top: 25px;
        right: -25px;    
        @include media-breakpoint-down(md) {
            right: 20px;
            top: -25px;
        }
    }
}
