.boxes-reverse {
  &__item {
    margin-bottom: 50px;
    &:nth-child(even) {
      flex-direction: row-reverse;
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
    }
  }
}

.uc-card-equipo-home {
  .uc-card_img {
    @include media-breakpoint-up(md) {
      width: 40% !important;
    }
  }
  .uc-card_body {
    @include media-breakpoint-up(md) {
      width: 60% !important;
    }
  }
}
