.cards-carousel,
.img-carousel,
.logos-carousel {
    .slick-list {
        overflow: visible;
    }
}    
.cards-carousel,
.img-carousel,
.gallery-carousel,
.logos-carousel {
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 60px;
    .cards-carousel__item {
        padding: 0 15px;
        transition: $transition;
        @include media-breakpoint-down(sm) {
            padding: 0 5px;
        }
        &:hover {
            transform: translateY(-10px);
        }
    }
    .slick-arrow {
        background-color: transparent;
        position: absolute;
        bottom: 0;
        width: 50px;
        height: 20px;
        text-align: center;
        color: #757575;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 48px 18px;
        @include flexCenter;
        transition: $transition;
    }
    .slick-prev {
        right: 120px;
        background-image: url('../images/icon-arrow-back-gray.svg');
        &:hover {
            background-image: url('../images/icon-arrow-back-blue.svg');
        }
        @include media-breakpoint-down(sm) {
            right: 140px;
        }
    }
    .slick-next {
        right: 0;
        background-image: url('../images/icon-arrow-forward-gray.svg');
        &:hover {
            background-image: url('../images/icon-arrow-forward-blue.svg');
        }
        @include media-breakpoint-down(sm) {
            right: 20px;
        }
    }
    .carousel-counter {
        width: 70px;
        position: absolute;
        bottom: 0;
        right: 50px;
        color: #757575;
        @include flexCenter;
        li {
            display:none;
            &.slick-active {
                display:block;
            }
        }
        @include media-breakpoint-down(sm) {
            right: 70px;
        }
        &__visible,
        &__total {
            margin: 0 5px;
        }
        &__visible {
            color: $celeste;
        }
    }
}

.gallery-carousel {
    .slick-list {
       padding-top: 15px;
       padding-bottom: 5px;
    }
}

.slick-slide {
    outline: none;
}