.card-type--horizontal--xl {
  .uc-card_body {
    width: 60%;
    padding: 36px;
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .uc-card_img {
    width: 40%;
    position: relative;
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 50%;
      bottom: 0;
      left: 0;
      background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(transparent),
        color-stop(96%, #08275c)
      );
      background-image: linear-gradient(-180deg, transparent, #08275c 96%);
    }
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}

.uc-card {
  overflow: visible;
  .btn-inline {
    word-break: break-all !important;
  }
  &--no-image {
    .lsch--hover + .uc-h4 {
      padding-right: 60px;
    }
    .tag-fixed {
      position: relative;
      margin-bottom: 15px;
    }
  }
  img {
    object-fit: cover;
  }
  .uc-card_body .paragraph {
    p,
    li {
      line-height: 1.5;
    }
    p,
    ol,
    ul {
      margin-bottom: 15px;
    }
    ul,
    ol {
      li {
        position: relative;
        &::before {
          position: absolute;
          left: 0;
        }
      }
    }
    ul {
      li {
        padding-left: 15px;
        position: relative;
        &::before {
          content: "";
          width: 4px;
          height: 4px;
          background-color: $celeste;
          display: inline-block;
          top: 10px;
        }
      }
    }
    ol {
      li {
        counter-increment: item;
        padding-left: 20px;
        &:before {
          content: counter(item) ".";
          top: 2px;
          font-size: 0.875rem;
          font-weight: bold;
          color: $celeste;
        }
      }
    }
  }
  .lsch--hover {
    top: -25px;
    right: 20px;
  }
  &.card-type--horizontal {
    @include media-breakpoint-up(md) {
      .uc-card_img {
        width: 40%;
      }
      .uc-card_body {
        width: 60%;
      }
    }
    .lsch--hover {
      top: 20px;
      right: -25px;
      @include media-breakpoint-down(sm) {
        right: 20px;
        top: -25px;
      }
    }
  }
  &.card-bg--image {
    .lsch--hover {
      top: -65px;
      right: 0;
    }
    .uc-card_body a {
      color: $blanco;
    }
  }
}

.img-card-max {
  max-height: 200px;
  width: 100%;
  object-fit: cover;
}
