.uc-checkbox {
    margin-bottom: 15px;
    position: relative;
    &__label {
        font-weight: 500;
        color: #757575;
        transition: $transition;
        &::before {
            content: "";
            width: 18px;
            height: 18px;
            border-radius: 4px;
            border: 1px solid #CACACA;
            display: inline-block;
            top: 3px;
            position: relative;
            margin-right: 15px;
            transition: $transition;
            background-image: url(../images/icon-check.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 8px 8px;
        }
    }
    &__input {
        position: absolute;
        width: 15px;
        height: 15px;
        top: 5px;
        left: 2px;
        &:checked + label {
            color: $negro;
            &::before {
                content: "";
                border: 1px solid #CACACA;
                border-color: $celeste;
                background-color: $celeste;
            }
        }
    }
    
   
}

.form {
    input.edited:valid, textarea.edited:valid, select.edited:valid {
        box-shadow: 0 0 5px 1px lightgreen;
    }

    input.edited:invalid {
        box-shadow: 0 0 5px 1px red;
    }
    
    input:focus {
        outline: none;
    }
    .error-message {
        display: block;
        color: red;
        font-size: .875rem;
        margin-bottom: 5px;
        display: none;
    }
}


select {
    &.w-icon {
        padding-right: 40px;
        background-image: url(../images/icon-dropdown.svg);
        background-repeat: no-repeat;
        background-position: right 16px center;
    }
}