.grid {
    &__column {
        @include media-breakpoint-down(md) {
            margin-bottom: 24px;
        }
        &--items {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include media-breakpoint-down(md) {
                margin-bottom: 0;
            }
            & > * {
                height: 100%;
                @include media-breakpoint-down(md) {
                    margin-bottom: 24px;
                }
            }
            .uc-card {
                .uc-h4 {
                    font-size: 1.25rem;
                }
            } 
        }
        .uc-card.card-bg--image {
            height: 512px;
        }
    }
}

.grid__column--items {
    .lsch--hover {
        top: 20px;
        right: -25px;    
    }
} 