.hero {
    position: relative;
    &__carousel {
        &__item {
            color: $white;
            min-height: 500px;
            padding: 50px 0;
            display: flex !important;
            align-items: flex-end;
            background-size: cover;
            position: relative;
            @include media-breakpoint-down(sm) {
                padding-bottom: 100px;
            }
            &::after {
                content: "";
                background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            .container {
                z-index: 1;
            }
        }
    }
    &__link {
        color: $celeste; 
        &:hover {
            color: $white;
        }
    } 
    .slick-dots {
        position: absolute;
        right: 90px;
        bottom: 50px;
        display: flex;
        justify-content: flex-end;
        @include media-breakpoint-down(sm) {
            right: 70px;
            bottom: 30px;
        }
        li {
            margin-right: 30px;
            opacity: .6;
            &:last-of-type {
                margin: 0;
            }
            &.slick-active {
                opacity: 1;
            }
        }
        button {
            font-weight: 700;
            background: transparent;
            color: $white;
            width: 45px;
            text-align: left;
            &::before {
                content: "0";
                display: inline;
            }
            &::after {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $white;
                display: block;
            }
        }
    }
    &__controls {
        bottom: 50px;
        position: absolute;
        right: 40px;
        text-align: right;
        @include media-breakpoint-down(sm) {
            right: 20px;
            bottom: 30px;
        }
        button {
            background: transparent;
        }
        .uc-icon.icon-shape--rounded {
            background-color: $blanco;
            color: $negro;
        }
    }
    .lsch--hover {
        top: 25px;
        right: 25px; 
        @include media-breakpoint-down(md) {
            right: 20px;
            bottom: 20px;
        }   
    }
}