.lsch {
    &__button {
        color: $celeste;
        background: transparent;
        text-align: center;
        padding: 0;
        display: block;
        height: auto!important;
        &::before {
            content: "";
            background-image:  url('../images/icon-hands.svg');
            background-color: $celeste;
            background-repeat: no-repeat;
            background-size: 30px 30px;
            background-position: center;
            width: 50px;
            height: 50px !important;
            border-radius: 50%;
            display: block;
        }
    }
    &--hover {
        position: absolute;
        top: 0;
        right: 15px;
        z-index: 99;
        .lsch__button {
            color: $white;
        }
    }
}