.msg {
    color: $azul-oscuro;
    &__icon {
        width: 30px;
        height: 30px;
        background-color: $celeste;
        border-radius: 30px;
        display: inline-block;
        @include flexCenter;
        margin-right: 15px;
        img {
            max-width: 18px;
        }
    }
    &__text {
        font-size: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
}