.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    &__arrow,
    &__item {
        margin: 0 5px;
        font-weight: 500;
        a {
            color: $negro;
        }
    }
    &__arrow {
        .uc-icon {
            font-size: 1.5rem;
            color: $negro;
        }
    }
    &__item {
        &--active {
            border-radius: 4px;
            box-shadow: 0 0 6px 0 rgba(153, 153, 153, 0.5);
            border: 1px solid $celeste;
            a {
                color: $celeste;
            }
        }
        a {
            display: block;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                color: $celeste;
            }
        }
    }
}