.table-list {
    width: 100%;
    &__item {
        border-top: 1px solid $gris-claro-a;
        &:last-of-type {
            border-bottom: 1px solid $gris-claro-a;
        }
        a {
            color: $negro;
            padding: 22px 0 22px 45px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            &:hover {
                color: $celeste;
            }
            * {
                font-size: .875rem;
                font-weight: 500;
                margin-bottom: 0;
                @include media-breakpoint-down(sm) {
                    margin-bottom: 10px;
                 }
            }
            p {
                font-style: italic;
            }
        }
        &--external {
            .uc-icon {
                background-color: $amarillo;
                color: $azul;
            }
        }
        &__icon {
            content: "";
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 0;
        }
    }
}