html {
  font-size: 16px;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;

  //scroll-behavior: smooth;
}
body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  color: $black;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
  max-width: 100%;
}
ul,
ol {
  padding-left: 0;
  margin-bottom: 0;
}
ul,
ol {
  li {
    list-style: none;
  }
}
a {
  transition: $transition;
  display: inline-block;
  &:hover {
    text-decoration: none;
  }
}
img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
p {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
    line-height: 1.3;
  }
}

.container {
  max-width: 1280px;
  @include media-breakpoint-down(xl) {
    padding-right: 40px;
    padding-left: 40px;
  }
  @include media-breakpoint-down(sm) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

select, button, input {
  appearance: none;
  border: none;
  &:hover {
    outline: none;
  }
}