.wp-content {
  p,
  li {
    font-size: 1em;
    line-height: 1.7;
  }
  ul,
  ol {
    li {
      position: relative;
      &::before {
        position: absolute;
        left: 0;
      }
    }
  }
  ul {
    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 16px;
      &::before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: $celeste;
        margin-right: 15px;
        display: inline-block;
        top: 15px;
      }
    }
  }
  ol {
    li {
      counter-increment: item;
      &:before {
        content: counter(item) ".";
        top: 0;
        font-weight: bold;
        color: $celeste;
      }
    }
  }
}

.body-article {
  p,
  li {
    font-size: 1.125em;
    line-height: 1.7;
  }
  ul {
    li {
      padding-left: 30px;
      position: relative;
      margin-bottom: 16px;
      &::before {
        content: "";
        width: 10px;
        height: 1px;
        background-color: $negro;
        margin-right: 15px;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 0;
      }
    }
  }

  blockquote {
    position: relative;
    margin: 80px 0 110px;
    padding-left: 8.5%;
    border-left: 1px solid #000;
    p,
    .uc-quote.quote-lg,
    .uc-quote.quote-size--lg {
      font-size: 2.125rem;
      line-height: 1.47;
    }
  }
  h2,
  h3 {
    margin-top: 60px;
    margin-bottom: 40px;
  }
}
