.logo {
    &__text {
        font-size: 1.125rem;
        font-weight: normal;
        display: block;
        white-space: nowrap;
    }
    &__main {
        font-weight: normal;
    }
    &__img {
        max-width: 200px;
    }
}